<header class="header-container">
  <div class="logo-menu">
    <a routerLink="/" class="logo-link">
      <img src="/assets/logo.png" alt="Logo FaculRide">
    </a>

    <nav class="menu-left">
      <ul class="menu-list-left">
        <li class="dropdown">
          <a href="#">Sobre</a>
          <ul class="dropdown-menu">
            <li><a href="#quem-somos">Quem Somos</a></li>
            <li><a href="#sustentabilidade">Sustentabilidade</a></li>
            <li><a href="#como-funciona">Como Funciona</a></li>
            <li><a routerLink="/devs">Desenvolvedores</a></li>
            <li><a routerLink="/ajuda">Ajuda</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="menu-right">
    <ng-container *ngIf="!isLoggedIn; else usuarioLogado">
      <ul class="menu-list">
        <li><a routerLink="/login">Fazer login</a></li>
        <li><a routerLink="/cadastro" class="btn-cadastro">Cadastre-se</a></li>
      </ul>
    </ng-container>

    <ng-template #usuarioLogado>
      <div class="user-dropdown" (click)="toggleDropdown()">
        <img 
          [src]="fotoUsuario" 
          alt="Foto do usuário" 
          class="user-photo"
          (error)="fotoUsuario = '/assets/foto-heri.png'"
        />
        <span class="user-name">{{ nomeUsuario }}</span>
        <span class="arrow-down">▼</span>

        <ul *ngIf="isDropdownOpen" class="dropdown-menu-user">
          <li>
            <a routerLink="/gerenciar">
              <img src="/assets/usuario.png" alt="Ícone usuário" class="menu-icon" />
              Gerenciar Conta
            </a>
          </li>
          <li>
            <a routerLink="/usuario">
              <img src="/assets/viajar.png" alt="Ícone viagem" class="menu-icon" />
              Viajar
            </a>
          </li>
          <li>
            <button (click)="logout()">
              <img src="/assets/sair.png" alt="Ícone sair" class="menu-icon" />
              Sair
            </button>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</header>
