<section class="section section-white" id="inicio">
  <div class="section-content">
    <div class="section-text">
      <h1>Conecte-se.<br>Compartilhe.<br>Vá mais longe com o FaculRide.</h1>
      <a href="/login" class="procurar-btn">Procurar Carona</a>
    </div>
    <div class="section-image">
      <img src="assets/estudante-carona1.png" alt="Estudante no celular">
    </div>
  </div>
</section>

<section class="section section-blue" id="quem-somos">
  <div class="section-content quem-somos-boxes">
    
    <!-- Box do logo -->
    <div class="quem-somos-logo">
      <img src="assets/logo-faculride.png" alt="Logo FaculRide">
    </div>

    <!-- Box do texto -->
    <div class="quem-somos-texto">
      <h1>Quem Somos</h1>
      <p>
        O <strong>FaculRide</strong> é uma plataforma inovadora de caronas criada especialmente para a comunidade acadêmica, com o propósito de reduzir a emissão de carbono e facilitar o deslocamento diário de estudantes, professores e funcionários. Mais do que um site, o FaculRide é um projeto sustentável que reforça o compromisso ambiental da instituição.
      </p>
      <br>
      <p>
        Com um sistema de compartilhamento de viagens, o FaculRide ajuda a diminuir o estresse do trânsito, reduzir custos e promover a integração social dentro da faculdade. Pensado para a segurança e conveniência dos usuários, oferece funcionalidades como cadastro verificado e agendamento flexível de caronas, proporcionando uma experiência prática e confiável.
      </p>
      <br>
      <p>
        O <strong>FaculRide</strong> é mais do que uma solução de transporte: é uma iniciativa que conecta pessoas, promove a sustentabilidade e transforma o dia a dia acadêmico.
      </p>
    </div>

  </div>
</section>

<section class="section section-white" id="sustentabilidade">
  <div class="section-content sustentabilidade-boxes">
    <div class="sustentabilidade-texto">
      <h1>Sustentabilidade</h1>
      <p>
        Nosso projeto é comprometido com o desenvolvimento sustentável. Atendemos às metas da ODS 11 (Cidades e Comunidades Sustentáveis) e da ODS 13 (Ação Contra a Mudança Global do Clima), promovendo uma mobilidade urbana mais consciente e responsável.
      </p>
    </div>

    <div class="sustentabilidade-imagens">
      <img src="assets/ods11.png" alt="ODS 11 - Cidades Sustentáveis">
      <img src="assets/ods13.png" alt="ODS 13 - Ação Climática">
    </div>
  </div>
</section>


<section class="section section-blue" id="como-funciona">
  <div class="section-content" style="flex-direction: column; align-items: center; text-align: center;">
    <div class="section-text">
      <h1>Como Funciona</h1>
      <p>Cadastre-se, encontre ou ofereça uma carona, conecte-se e combine os detalhes e aproveite sua viagem rumo ao futuro!</p>
    </div>
    <div class="section-image" style="margin-top: 30px;">
      <img src="assets/como-funciona.png" alt="Como Funciona FaculRide">
    </div>
  </div>
</section>

